.game-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
}

.game-item a {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
}

.game-image-container {
    flex: 1; /* Expand and fill remaining space */
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-title {
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}